absl-py==1.0.0
astunparse==1.6.3
attrs==21.4.0
black==22.1.0
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
coverage==6.3.1
coveralls==3.3.1
docopt==0.6.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.43.0
gym==0.21.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.10.1
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.0.1
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.22.1
oauthlib==3.2.1
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.0
pathspec==0.9.0
platformdirs==2.4.1
pluggy==1.0.0
protobuf==3.19.4
psycopg2-binary==2.9.3
py==1.11.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.2
pyparsing==3.0.7
pytest==6.2.5
pytest-benchmark==3.4.1
pytest-watch==4.2.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
requests-oauthlib==1.3.1
rich==11.1.0
rsa==4.8
six==1.16.0
SQLAlchemy==1.4.31
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
toml==0.10.2
tomli==2.0.0
typing-extensions==4.0.1
urllib3==1.26.8
watchdog==2.1.6
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.7.0
