black==25.1.0
blinker==1.9.0
-e catanatron_core
-e catanatron_env
-e catanatron_server
-e catanatron_experimental
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
coverage==7.8.0
coveralls==4.0.1
docopt==0.6.2
Farama-Notifications==0.0.4
Flask==3.1.0
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
gymnasium==0.29.1
idna==3.10
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mypy_extensions==1.1.0
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
Pygments==2.19.1
pytest==8.3.5
pytest-benchmark==5.1.0
pytest-watch==4.2.0
requests==2.32.3
rich==14.0.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.4.0
watchdog==6.0.0
Werkzeug==3.1.3
