services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=catanatron
      - POSTGRES_PASSWORD=victorypoint
      - POSTGRES_DB=catanatron_db
    ports:
      - 5432:5432
    volumes:
      - ./db-data:/var/lib/postgresql/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -d postgresql://catanatron:victorypoint@db:5432/catanatron_db",
        ]
      interval: 5s
      timeout: 5s
      retries: 5
  server:
    build:
      context: .
      dockerfile: Dockerfile.web
    environment:
      - DATABASE_URL=postgresql://catanatron:victorypoint@db:5432/catanatron_db
      - PYTHONUNBUFFERED=1
    ports:
      - 5000:5000
    stdin_open: true
    restart: always
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
  react-ui:
    build: ./ui
    ports:
      - 3000:3000
    stdin_open: true
    volumes:
      - /app/node_modules
      - ./ui:/app
