[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-watch = "*"
coverage = "*"
black = "*"
pytest = "*"
coveralls = "*"
snakeviz = "*"
pytest-benchmark = "*"
ipython = "*"

[packages]
flask = "*"
flask-cors = "*"
click = "*"
termplotlib = "*"
networkx = "*"
setuptools = "*"
tensorflow = "*"
pandas = "*"
psycopg2-binary = "*"
catanatron = {editable = true, path = "."}
scikit-learn = "==0.24.0"
jupyterlab = "*"
matplotlib = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
