-e catanatron_core
-e catanatron_compiled
-e catanatron_server
-e catanatron_gym
-e catanatron_experimental
click==8.0.1
decorator==4.4.2
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
networkx==2.5.1
six==1.16.0
SQLAlchemy==1.4.22
Werkzeug==2.0.1
