blinker==1.9.0
-e catanatron[gym,web]
-e catanatron_experimental
click==8.1.8
cloudpickle==3.1.1
Farama-Notifications==0.0.4
Flask==3.1.0
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
gymnasium==0.29.1
itsdangerous==2.2.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
networkx==3.4.2
numpy==2.2.5
psycopg2-binary==2.9.10
Pygments==2.19.1
rich==14.0.0
SQLAlchemy==2.0.40
typing_extensions==4.13.2
Werkzeug==3.1.3
