* {
  box-sizing: border-box;
}

// ===== OLD STYLES
.row {
  display: flex;
  justify-content: center;
}

// ===== Base Styles
$tile-width: 130px;
$tile-height: 70px;

.hexagon {
  position: relative;
  width: 103px;
  height: 120px;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}

.row {
  position: relative;
}
.row:nth-child(2) .hexagon {
  top: -30px;
}
.row:nth-child(3) .hexagon {
  top: -60px;
}
.row:nth-child(4) .hexagon {
  top: -90px;
}
.row:nth-child(5) .hexagon {
  top: -120px;
}
.row:nth-child(6) .hexagon {
  top: -150px;
}
.row:nth-child(7) .hexagon {
  top: -180px;
}

// ===== Overrides

$wood-color: #688e26;
$brick-color: #fe5f55;
$sheep-color: #adfc92;
$wheat-color: #ffe74c;
$ore-color: #a4a4a4;
$desert-color: #ffd5c2;
$water-color: #fff;
body {
  background-color: $water-color;
}
.hexagon.wood {
  background-image: url("./assets/tiles/tile_lumber.svg");
}
.hexagon.brick {
  background-image: url("./assets/tiles/tile_brick.svg");
}
.hexagon.sheep {
  background-image: url("./assets/tiles/tile_wool.svg");
}
.hexagon.wheat {
  background-image: url("./assets/tiles/tile_grain.svg");
}
.hexagon.ore {
  background-image: url("./assets/tiles/tile_ore.svg");
}
.hexagon.desert {
  background-image: url("./assets/tiles/tile_desert.svg");
}

.hexagon.water {
  background-color: transparent;
}
