.row {
  display: flex;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

// ===== Base Styles
$tile-width: 130px;
$tile-height: 70px;

.hexagon {
  position: relative;
  width: $tile-width;
  height: $tile-height;
  background-color: #64c7cc;
  margin: $tile-height / 2 2.5px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: $tile-width / 2 solid transparent;
  border-right: $tile-width / 2 solid transparent;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: $tile-height / 2 solid #64c7cc;
}
.hexagon:after {
  top: 100%;
  width: 0;
  border-top: $tile-height / 2 solid #64c7cc;
}

.row:nth-child(2) .hexagon {
  top: -30px;
}
.row:nth-child(3) .hexagon {
  top: -60px;
}
.row:nth-child(4) .hexagon {
  top: -90px;
}
.row:nth-child(5) .hexagon {
  top: -120px;
}
.row:nth-child(6) .hexagon {
  top: -150px;
}
.row:nth-child(7) .hexagon {
  top: -180px;
}

// ===== Overrides

$wood-color: #688e26;
$brick-color: #fe5f55;
$sheep-color: #adfc92;
$wheat-color: #ffe74c;
$ore-color: #a4a4a4;
$desert-color: #ffd5c2;
$water-color: #fff;
body {
  background-color: $water-color;
}
.hexagon.wood {
  background-color: $wood-color;
}
.hexagon.wood:before {
  border-bottom: $tile-height / 2 solid $wood-color;
}
.hexagon.wood:after {
  border-top: $tile-height / 2 solid $wood-color;
}

.hexagon.brick {
  background-color: $brick-color;
}
.hexagon.brick:before {
  border-bottom: $tile-height / 2 solid $brick-color;
}
.hexagon.brick:after {
  border-top: $tile-height / 2 solid $brick-color;
}

.hexagon.sheep {
  background-color: $sheep-color;
}
.hexagon.sheep:before {
  border-bottom: $tile-height / 2 solid $sheep-color;
}
.hexagon.sheep:after {
  border-top: $tile-height / 2 solid $sheep-color;
}

.hexagon.wheat {
  background-color: $wheat-color;
}
.hexagon.wheat:before {
  border-bottom: $tile-height / 2 solid $wheat-color;
}
.hexagon.wheat:after {
  border-top: $tile-height / 2 solid $wheat-color;
}

.hexagon.ore {
  background-color: $ore-color;
}
.hexagon.ore:before {
  border-bottom: $tile-height / 2 solid $ore-color;
}
.hexagon.ore:after {
  border-top: $tile-height / 2 solid $ore-color;
}

.hexagon.desert {
  background-color: $desert-color;
}
.hexagon.desert:before {
  border-bottom: $tile-height / 2 solid $desert-color;
}
.hexagon.desert:after {
  border-top: $tile-height / 2 solid $desert-color;
}

.hexagon.water {
  background-color: $water-color;
}
.hexagon.water:before {
  border-bottom: $tile-height / 2 solid $water-color;
}
.hexagon.water:after {
  border-top: $tile-height / 2 solid $water-color;
}
