$sm-breakpoint: 576px;

$sm-gutter: 10px;

$black: #030000;
$dark-gray: #151313;
$blue: blue;
$red: #cc0300;
$wood: #119822;
$brick: #cc0300;
$wheat: #fac60c;
$sheep: #87ff65;
$darker-sheep: #72cf57;
$ore: #616166;
