@import "../variables.scss";

.actions-toolbar {
  width: 100%;
  max-width: $sm-breakpoint;
  margin-left: auto;
  margin-right: auto;
  padding: $sm-gutter;
  display: flex;
  justify-content: space-between;
  gap: $sm-gutter;

  button {
    min-width: 60px;
    width: 100px;
    height: 60px;
  }

  .confirm-btn {
    width: 100%;
  }

  .action-popover {
    z-index: 1;
  }

  .MuiButton-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .MuiButton-startIcon {
      margin: 0;
    }
  }
}
