@import "../variables.scss";

.MuiToolbar-root {
  background: $black;
}

h6.MuiTypography-h6 {
  font-family: "Bungee Inline", cursive;
}

main {
  .logo {
    margin: 20px 20px 0 20px;
    text-align: center;
  }

  background: $black;
  color: white;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .resource-cards {
    margin: $sm-gutter;
  }

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.board-container,
.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container {
  .react-transform-component {
    height: 100%;
    width: 100%;

    .react-transform-element {
      height: 100%;
      width: 100%;
    }
  }

  .board {
    position: relative;
    opacity: 0;

    height: 100%;
    width: 100%;
  }
  .board.show {
    opacity: 1;
  }
}

.node {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Taken from https://codepen.io/peeke/pen/BjxXZa.
.pulsating-circle {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes pulse-dot {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
