.MuiToolbar-root {
  background: #222;
}

h6.MuiTypography-h6 {
  font-family: "Bungee Inline", cursive;
}

.board-container {
  height: 100%;
  width: 100%;

  .react-transform-component {
    height: 100%;
    width: 100%;

    .react-transform-element {
      height: 100%;
      width: 100%;
    }
  }

  .example-text {
    position: relative;

    height: 100%;
    width: 100%;
  }

  .example-text .block {
    position: absolute;
    background-color: red;

    // left: 50px;
    // height: 50px;
    // width: 50px;
  }
}
