.MuiToolbar-root {
  background: #222;
}

h6.MuiTypography-h6 {
  font-family: "Bungee Inline", cursive;
}

main {
  background: #141414;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.board-container {
  height: calc(100% - 80px);
  width: 100%;

  .react-transform-component {
    height: 100%;
    width: 100%;

    .react-transform-element {
      height: 100%;
      width: 100%;
    }
  }

  .board {
    position: relative;
    opacity: 0;

    height: 100%;
    width: 100%;
  }
  .board.show {
    opacity: 1;
  }

  .board .block {
    position: absolute;
    background-color: red;

    // left: 50px;
    // height: 50px;
    // width: 50px;
  }
}
