@import "../variables.scss";

.number-token {
    --scale-factor: 0.65;
    --base-font-size: 100%;
    height: min-content;
    width: min-content;
    text-align: center;
    padding: 5px;
    line-height: .8rem;

    .pips {
        font-size: calc(var(--base-font-size) * 60);
    }
    @media(max-width: $sm-breakpoint) {
        .number-token {
            --base-font-size: 75%;
        }
    }

}


