@import "../variables.scss";

.number-token {
    --scale-factor: 0.65;
    width: calc(var(--base-size) * var(--scale-factor));
    height: calc(var(--base-size) * var(--scale-factor));
    text-align: center;

    span {
            line-height: .8;
            top: 0;
            bottom: 0;
            margin: auto;
    }
    @media(max-width: $sm-breakpoint) {
        .number-token {
            font-size: 75%;
        }
    }

}


