@import "../variables.scss";

.left-drawer {
  .MuiDrawer-paper {
    width: 250px;
  }

  .log {
    overflow-y: auto;
    font-size: 0.8rem;

    // To ensure always clipped towards bottom
    display: flex;
    flex-direction: column-reverse;
    .action {
      padding: $sm-gutter;
    }
  }
}
