.numeric-textfield {
  .MuiOutlinedInput-root fieldset {
    border-color: #1976d2;
  }
  
  .MuiInputLabel-root {
    color: #1976d2;
    font-weight: 600;
  }
  
  .MuiInputBase-input {
    color: #1976d2;
    font-weight: 600;
  }
}
